.comment-box { padding-top: 1rem; border-top: 1px solid lightgray; }
.submit .btn { margin: 2rem 0 0 1rem; }
.contents .row .col img { max-width: 100%; }
table { margin-top: 2rem; }
.content { margin: 0; }
h5 { margin: 0; }