/* card */
.card .card-image { width: 200px; height: 200px; overflow: hidden; display: flex; justify-content: center; align-items: center; }
.card .card-image img { max-height: 100%; max-width:none !important; }
.card { min-height: 200px; transition: transform 0.1s; }
.card:hover { transform: scale(1.02); }
.card-content { overflow: hidden; min-height: 145px; max-height: 145px; margin-bottom: 0px; }
.card-content p { max-height: 65px; overflow: hidden; text-overflow: ellipsis; }

.pagination{ margin-top: 25px; }

.not_result h3 { margin: 3rem 0; }

/* index */
.writer, .view { padding-right: 20px; }
.search-box { margin: 0px; }
.chip {
    height: 2rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}